# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.local
.env.testing
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/generated/prisma
/src/generated/prisma
/uploads

# Performance testing outputs
results/performance/**/*.json
results/performance/**/*.csv
results/performance/**/*.txt
results/performance/**/*.log

# Local performance testing data
tests/performance/k6/data/*.local.json
tests/performance/k6/data/tokens*.json
tests/postman/*local*.json

skripsi-evidence/*

.venv/
__pycache__/
*.pyc